server.host=localhost
server.port=8080
bart.api.host=http://api.bart.gov/api/
bart.api.key=Find a key here: http://api.bart.gov/api/register.aspx
bart.station=12th
bart.lines=RED,YELLOW
bart.direction=SOUTH
bart.time.threshold=5
weather.api.host=https://api.darksky.net/forecast/
weather.api.key=Find a key here: https://darksky.net/dev/register
weather.lat-lng=Get Lat Lng here: http://www.latlong.net/